

:root {
  --primary-orange: #ff5400;
  --primary-yellow: #ffbd00;
  --primary-dark-blue: #1e1e1e;
  --primary-grey: #d9d9d9;
  --primary-red: rgb(168, 0, 0);
  --primary-green:#5f7c6b;
  --primary-font: "K2D", sans-serif;

  --primary-spacer: 1rem;
}
